<section class="sidebar">
    <a href="/">
        <img src="{{ site.github.url }}/static/images/grelot.png" height="75" width="75" class="avatar">
    </a>

    <section class="name">
        <a href="/">
            <span id="fname">{{ site.name|split:' '|first }}</span>
            <span id="lname">{{ site.name|split:' '|last }}</span>
        </a>
    </section>

    <section class="meta">
        <a href="{{ site.github.owner_url }}" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://github.com/oplancelot/contact" target="_blank"><i class="icon-2x icon-github-circled"></i></a>
        <a href="mailto:oplancelot@gmail.com" class="icon-2x icon-mail"></a>
        <a href="/atom.xml"><i class="fa fa-rss"></i></a>
    </section>

    <section class="sections">
        <ul>
            <li><a href="/about.html">about</a></li>
            <li><a href="/">posts</a></li>
            <li>
                <a id="theme-toggle" href="javascript:void(0)" onclick="switchMode()"></a>
            </li>
        </ul>
    </section>
</section>